.ocean{
    background-image: url(../../../public/ocean.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.ocean button {
    margin: 10px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: bold;
    border: none; /* Remove border */
    background: none;
    color: #126ba7;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
  }
  
  .modal-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .modal-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: black;
  }
  
  .modal-content button {
    padding: 8px 16px;
    font-size: 16px;
  }

.arctic{
    margin-right: 1100px  !important;
    background: none;
    border: none;
  }

.atlantic{
    margin-right: 300px;
    margin-top: 150px;
}

.pacific{
    margin-right: 1000px;
    margin-top: 50px;
}

.southern{
    margin-top: 150px;
    margin-left: 500px;
}

.indian{
   margin-left: 580px;
   position: relative;
  top: -240px;
}

.arctic-btn:hover, .atlantic-btn:hover, .pacific-btn:hover, .southern-btn:hover, .indian-btn:hover {
  transform: scale(1.2);
  color: #202427;
  box-shadow: -4px 2px 56px 20px #e5e1db;
  border-radius: 80%;
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s ease;
}