.climatebutton {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  color: #E4DFDA;
  font-size: 13px;
  background: rgb(4,51,75);
  background: radial-gradient(circle, rgba(4,51,75,1) 0%, rgba(0,0,0,1) 100%);  
  padding: 10px 20px 10px 20px;
  border: solid #E4DFDA 4px;
  text-decoration: none;
  width: 150px;
  height: 70px;
  margin-top: 20px;
}

  .red{
    color: 'red';
  }

  .green{
    color: 'green';
  }