.world-map {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(4,51,75,1) 100%);
}

.map-view {
    width: 1400px;
    background-image: url(../../../public/mapbg.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.tooltip {
    color: red;
}

.each-country {
    border: 3px solid black!important;
}

.text-country {
    font-weight: 500;
}

#country-code {
    font-weight: 600;
}

.nav-map {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(4,51,75,1) 100%);
}

.arrow-back-btn {
    position: absolute;
    top: 10px;
    left: -650px;
  }