.union-btn {
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    color: #1789FC;
    font-size: 16px;
    background: white;
    padding: 10px 20px 10px 20px;
    border: solid #1789FC 2px;
    text-decoration: none;
    width: 100px;
    height: 50px;
    margin: 10px;
    text-align: center;
  }
  
  .union-btn:hover {
    background-color: #1789FC;
    border: solid #f1efef 4px;
    text-decoration: none;
    color: white
  }