.space::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../public/space1.jpg);
    opacity: 0; /* Set initial opacity to 0 */
    z-index: -1000;
    background-position: center;
    background-size: cover;
    animation: fade-in 1s ease-in forwards, scrollBackground 20s linear infinite;
  }
 
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.4; /* Adjust the target opacity value as desired */
    }
  }
 
  @keyframes scrollBackground {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }

 


.spacey{
    margin-top: 100px;
    margin-left: 120px;
   
}

.txt{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}


.txt1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color: black;
}

.charOfSpace{
    margin-top: 80px;
    background-image: url(../../../public/purple-planet-saturn-rings-nebula-galaxy-astronomy-stars-7000x3938-6416.jpg);
    background-position: center;
    background-size: cover;
    animation:  scrollBackground 20s linear infinite;
}

.charOfSpace::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.;
    z-index: -1;
    background-position: center;
    background-size: cover;
    animation: scrollBackground 30s linear infinite;
  }

.spaceChar1{
    margin-left: 120px;
}

.space2{
    margin-left: 350px;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 100px rgba(255, 255, 255, 2.8);
    }
    100% {
        text-shadow: 0 0 20px rgba(147, 222, 252, 2.8);
    }
}

.header{
    animation: glow 1s infinite alternate;
    color: azure;
}

.arrow-back-btn-new {
  position: absolute;
  top: 10px;
  left: 50px;
}