
    
    .bg{
      background-image: url(../../../public/login-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
      background-position: center;
      position: relative;
    }
    
    .login-no-overlay {
      position: relative;
      z-index: 1; /* Bring the content above the overlay */
    }

    .arrow-back-btn {
      position: absolute;
      top: 10px;
      left: -650px;
    } 

    .reg{
        color: #E4DADF;
        margin-top: 10px;
        margin-right: 140px;
    }
    
    .regtxt{
        color: #E4DADF;
        text-decoration: underline;
      color: white;
    }

    .regtxt:hover{
        color: #224ec0;
    }